@model IEnumerable<MovieProject.Models.Genre>

@{
    ViewBag.Title = "Genres";
}

<h1>Movie Genres</h1>

<ul>
    @foreach (var genre in Model)
    {
        <li>
            <!-- Yönlendirme: Her bir türe tıklanıldığında MoviesByGenre action'ına gidilecek -->
            <a href="@Url.Action("MoviesByGenre", "Movie", new { genreId = genre.GenreId })">
                @genre.GenreName
            </a>
        </li>
    }
</ul>

<a asp-action="Index" class="btn btn-primary">Back to Movies</a>
